<section class="content-page pull-center padding">
    <div class="content-page-head">
        <h4>ui-tree测试</h4>
    </div>
    <hr>
    <div class="content-page-body">
        <div ui-tree>
            <ol ui-tree-nodes="" ng-model="layout.treeData">
                <li ng-repeat="item in layout.treeData" ui-tree-node>
                    <div ui-tree-handle>
                        {{item.title}}
                    </div>
                    <ol ui-tree-nodes="" ng-model="item.nodes">
                        <li ng-repeat="subItem in item.nodes" ui-tree-node>
                            <div ui-tree-handle>
                                {{subItem.title}}
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <hr>
    <div class="content-page-footer pull-center">
        <botton class="btn btn-primary">提交</botton>
        <botton class="btn btn-default">取消</botton>
    </div>
</section>