<header id="header">

    <nav class="navbar-nav">
        <ul class="nav nav-tabs nav-tabs-google  pull-center">
            <li ng-repeat="item in layout.mainMenus |orderBy:'order'" ng-class="{'active':layout.state.includes(item.url)}">
                <a href="">{{item.name}}</a>
                <div class="sub-nav">
                    <ul class="nav nav-tabs nav-tabs-google  pull-center">
                        <li ng-repeat="subItem in item.children|orderBy:'order'" ui-sref-active="active"><a ui-sref="{{subItem.url}}">{{subItem.name}}</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <!--
    <div class="pull-right">
        <button id="menu" class="nav-button">
            <i class="fa fa-cog"></i>
             设置
        </button>
    </div>
    -->
    <div class="navbar-left">
        <div class="pull-left">
            <div class="head-logo">
                <!--<img src="http://placehold.it/30x30?text=logo">-->
                <i class="fa fa-github-alt"></i>
            </div>
        </div>
        <div class="pull-left">
            <div class="head-title"><a href="#/home">会员管理系统</a> </div>
        </div>
    </div>
    <div class="navbar-right">
        <div class="pull-right">
            <button id="menu" class="nav-button">
            <i class="fa fa-envelope"></i>消息
        </button>
        </div>
        <div class="pull-right">
            <button id="menu" class="nav-button">
            <i class="fa fa-user"></i>管理员
        </button>
        </div>
    </div>
</header>