<section ng-controller="LayoutCtrl as layout" id="layout">
    <!-- HEADER -->
    <div data-ng-include="'app/layout/layout-header.tpl.html'"></div>
    <!-- END HEADER -->
    <!-- MAIN PANEL -->
    <div id="main" role="main">
        <!-- Left panel : Navigation area -->
        <div data-ng-include="'app/layout/left-panel.tpl.html'" id="left-menu" ng-class="{true:'left-menu-mini',false:'left-menu-full'}[layout.isShortcutMenusMini]"></div>
        <div loading="layout.contentLoading" id="content-loading">
            <div data-ui-view="content" id="content"></div>
        </div>
    </div>
    <!--FOOTER-->
    <div data-ng-include="'app/layout/layout-footer.tpl.html'"></div>
</section>