<aside>
    <nav class="nav-group-vertical">
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                <a href=""><i class="fa fa-reorder"></i>菜单</a>
            </li>
            <li>
                <a href=""><i class="fa fa-reorder"></i>菜单</a>
            </li>
            <li>
                <a href=""><i class="fa fa-reorder"></i>菜单</a>
            </li>
            <li>
                <a href=""><i class="fa fa-reorder"></i>菜单</a>
            </li>
            <li>
                <a href=""><i class="fa fa-reorder"></i>菜单</a>
            </li>
            <li>
                <a href=""><i class="fa fa-reorder"></i>菜单</a>
            </li>
            <li>
                <a href=""><i class="fa fa-reorder"></i>菜单</a>
            </li>
            <li>
                <a href=""><i class="fa fa-reorder"></i>菜单</a>
            </li>
            <li>
                <a href=""><i class="fa fa-reorder"></i>菜单</a>
            </li>
            <li>
                <a href=""><i class="fa fa-reorder"></i>菜单</a>
            </li>
        </ul>
    </nav>
</aside>