<div ui-tree-handle class="pointer" ng-click="vm.select(node)">
    <a class="pointer" ng-if="node.children && node.children.length > 0" ng-click="toggle(this)"><span class="glyphicon " ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a> <span><input type="checkbox" > {{node.name}}</span>
</div>
<ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.children" ui-tree-node ng-include="'app/goods-management/goods-class/tree.tpl.html'">
    </li>
</ol>