<div class="modal-header">
    <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">选择会员</h4>
</div>
<div class="modal-body">

    <table class="table table-hover table-vertical-middle margin-0-auto">
        <thead>
            <tr>
                <th>序号</th>
                <th>卡号</th>
                <th>姓名</th>
                <th>手机</th>
                <th>余额</th>
                <th>积分</th>
                <th>总消费</th>
                <th>状态</th>
                <th>生日</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list | filter:{name:'!散客'}" ng-click="select(item)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>