<section class="padding" ng-controller="MemberSearchCtrl as vm">
    <!--<div class="content-page-head">
            <h4>会员扫描</h4>
        <hr>
        </div>

        <hr>-->
    <form class="form-horizontal ">
        <!-- input -->
        <div class="form-group">
            <label class="col-sm-3 control-label">会员检索</label>
            <div class="col-sm-4">
                <input class="form-control" placeholder="请输入会员姓名，电话号码或卡号" ng-model="vm.current.search">
            </div>
            <!--<label class="col-sm-3 help-block">*</label>-->
            <div class="col-sm-5">
                <button class="btn btn-default svms-btn-checkbox  margin-right padding-left-right" ng-if="vm.showCustomer">
                    <label>
                            <input type="checkbox"  ng-model="vm.selectedCustomer" ng-change="vm.selectCustomer(vm.selectedCustomer)"> 散客
                        </label>
                </button>
                <button type="button" class="btn btn-primary" ng-click="vm.search(vm.current.search)"><i class="fa fa-search"></i> 查询</button>
                <!--<button type="button" class="btn btn-default"><i class="fa fa-qrcode"></i> 扫码</button>
                    <button type="button" class="btn btn-default"><i class="fa fa-user"></i> 散客</button>-->
                <!--<button type="button" class="btn btn-default"><i class="fa fa-refresh"></i> 重置</button>-->
            </div>
        </div>

        <!-- input -->
        <div class="form-group margin-0">
            <label class="col-sm-3 control-label">会员信息</label>
            <div class="col-sm-9">
                <div class="content-page-body form-control-static">
                    <ul class="list-inline margin-0">
                        <li>姓名 <span class="text-info">{{vm.current.member.name}}</span></li>
                        <li>等级 <span class="text-info">{{vm.current.member.level.name}}</span></li>
                        <li>余额 <span class="text-info">{{vm.current.member.balance}}</span></li>
                        <li>积分 <span class="text-info">{{vm.current.member.points}}</span></li>
                        <li ng-show="vm.current.member.name"><a href="" ng-click="vm.showMemberDetail = !vm.showMemberDetail">查看更多会员信息</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
    <table class="table table-vertical-middle " ng-show="vm.showMemberDetail">
        <tbody>
            <tr>
                <td>会员卡号
                </td>
                <td>
                    <input class="form-control" placeholder="会员卡面号码" ng-model="vm.current.member.code" readonly>
                </td>
                <td>姓名
                </td>
                <td>
                    <input class="form-control" placeholder="" ng-model="vm.current.member.name" readonly>
                </td>
                <td rowspan="5">
                    <img src="app/shared/images/img.png" alt="..." class="img-rounded " width="100%" height="200">
                </td>
            </tr>
            <tr>
                <td>手机
                </td>
                <td>
                    <input class="form-control" placeholder="" ng-model="vm.current.member.contact" readonly>
                </td>

                <td>身份证</td>
                <td>
                    <input class="form-control" placeholder="" ng-model="vm.current.member.identity" readonly>
                </td>

            </tr>
            <tr>
                <td>会员等级</td>
                <td>
                    <input class="form-control" placeholder="" ng-model="vm.current.member.level.name" readonly>
                </td>
                <td>会员生日</td>
                <td>
                    <input class="form-control" placeholder="" ng-model="vm.current.member.birthday" readonly>
                </td>
            </tr>
            <tr>
                <td>性别</td>
                <td>
                    <label class="radio-inline">
                            <input type="radio" ng-model="vm.current.member.sex"  value="1" disabled> 男
                        </label>
                    <label class="radio-inline">
                            <input type="radio" ng-model="vm.current.member.sex"  value="0" disabled> 女
                        </label>
                </td>
                <td>余额</td>
                <td>
                    <input class="form-control" placeholder="" ng-model="vm.current.member.balance" readonly>
                </td>

            </tr>
            <tr>
                <td>积分</td>
                <td>
                    <input class="form-control" placeholder="" ng-model="vm.current.member.points" readonly>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    备注
                </td>
                <td colspan="4">

                    <textarea class="form-control" rows="3" ng-model="vm.current.member.remark" readonly></textarea>

                </td>
            </tr>
        </tbody>
    </table>
</section>