<section class="content-page pull-center padding">
    <div class="content-page-head">
        <h2>Example Table 1 - data Table</h2>
    </div>
    <hr>
    <div class="content-page-body">
        <div class="content-page-body">
            <nav class="navbar navbar-toolbar navbar-default">
                <div class="container-fluid padding-0">
                    <div class="collapse navbar-collapse bs-example-toolbar-collapse-1  padding-0">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="">table1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="">table2</a></li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    table list <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="">table1</a></li>
                                    <li><a href="">table1 action</a></li>
                                    <li><a href="">table1 else here</a></li>
                                    <li class="divider" role="separator"></li>
                                    <li><a href="">Separated table1</a></li>
                                    <li class="divider" role="separator"></li>
                                    <li><a href="">One more separated table1</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-toolbar navbar-default">
                <div class="container-fluid padding-0">
                    <div class="collapse navbar-collapse bs-example-toolbar-collapse-1  padding-0">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href=""><i class="fa fa-plus"></i> 添加</a></li>
                            <li><a href=""><i class="fa fa-minus"></i> 删除</a></li>
                            <li><a href=""><i class="fa fa-pencil"></i> 修改</a></li>
                        </ul>
                        <!--<form class="navbar-form navbar-right">
                            <div class="form-group">
                                <input class="form-control" placeholder="Search">
                            </div>
                            <a class="btn" type="submit"><i class="fa fa-search"></i> 搜索</a>
                        </form>-->

                        <ul class="nav navbar-nav navbar-right  padding-0">
                            <li><input type="text" style="height: 100%;background: #f2f2f2;border-width: 0;padding: 9px 15px;line-height: 18px;height: 36px;" placeholder="Search"></li>
                            <li><a class="" href=""><i class="fa fa-search"></i> 搜索</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
            <div class="Pagination pull-center">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="active"><a href="">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
    <div class="content-page-head">
        <h2>Example Table 2 - Edit Table</h2>
    </div>
    <hr>
    <div class="content-page-body">
        <div class="content-page-body">
            <nav class="navbar navbar-toolbar navbar-default">
                <div class="container-fluid padding-0">
                    <div class="collapse navbar-collapse bs-example-toolbar-collapse-1  padding-0">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="">table1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="">table2</a></li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    table list <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="">table1</a></li>
                                    <li><a href="">table1 action</a></li>
                                    <li><a href="">table1 else here</a></li>
                                    <li class="divider" role="separator"></li>
                                    <li><a href="">Separated table1</a></li>
                                    <li class="divider" role="separator"></li>
                                    <li><a href="">One more separated table1</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-toolbar navbar-default">
                <div class="container-fluid padding-0">
                    <div class="collapse navbar-collapse bs-example-toolbar-collapse-1  padding-0">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href=""><i class="fa fa-plus"></i> 添加</a></li>
                            <li><a href=""><i class="fa fa-minus"></i> 删除</a></li>
                            <li><a href=""><i class="fa fa-pencil"></i> 修改</a></li>
                        </ul>
                        <!--<form class="navbar-form navbar-right">
                            <div class="form-group">
                                <input class="form-control" placeholder="Search">
                            </div>
                            <a class="btn" type="submit"><i class="fa fa-search"></i> 搜索</a>
                        </form>-->

                        <ul class="nav navbar-nav navbar-right  padding-0">
                            <li><input type="text" style="height: 100%;background: #f2f2f2;border-width: 0;padding: 9px 15px;line-height: 18px;height: 36px;" placeholder="Search"></li>
                            <li><a class="" href=""><i class="fa fa-search"></i> 搜索</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
            <div class="Pagination pull-center">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="active"><a href="">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div ng-controller="FormController">
            <h3>学生信息列表</h3>
            <br>
            <div>
                搜索：<input type="text" ng-model="titleFilter" placeholder="输入关键字"> //加上
                <tr ng-repeat="student in students|filter:titleFilter">实现了表格内容的检索。
            </div>
            <br>
            <table class="table table-bordered">
                <tr ng-repeat="student in students|filter:titleFilter"> //遍历每一个对象
                    <td title="'Name'">
                        <span ng-if="!student.$edit">{{student.Name}}</span>
                        <div ng-if="student.$edit"><input class="form-control" type="text" ng-model="student.Name"></div>
                    </td>
                    <td title="'Id'">
                        <span ng-if="!student.$edit">{{student.Id}}</span>
                        <div ng-if="student.$edit"><input class="form-control" type="text" ng-model="student.Id"></div>
                    </td>
                    <td title="'Grade'">
                        <span ng-if="!student.$edit">{{student.Grade}}</span>
                        <div ng-if="student.$edit"><input class="form-control" type="text" ng-model="student.Grade"></div>
                    </td>
                    <td title="'Actions'" width="200">
                        <a href="" ng-if="!student.$edit" class="btn btn-default btn-xs" ng-click="student.$edit=true">Edit</a>
                        <a href="" ng-if="student.$edit" class="btn btn-default btn-xs" ng-click="student.$edit=false">Save</a>
                        <a ng-click="deleteStudent(student)" ng-if="student.$edit" class="btn btn-default btn-xs">Delete</a>
                        <!-- <a href="" ng-click="addStudent()" ng-if="student.$edit" class="btn btn-default btn-xs">Add</a> -->
                    </td>
                </tr>
            </table>
            <div>
                <input type="text" ng-model="newName" placeholder="input Name" required/>
                <input type="text" ng-model="newId" placeholder="input Id" required/>
                <input type="text" ng-model="newGrade" placeholder="input Grade" required/>
                <input type="button" ng-click="addStudent()" value="Add" class="btn" />
            </div>
        </div>
    </div>
    <div class="content-page-head">
        <h2>Basic example</h2>
    </div>
    <hr>
    <div class="content-page-body">
        <table class="table">
            <caption>Optional table caption.</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="content-page-head">
        <h2>Striped rows</h2>
    </div>
    <hr>
    <div class="content-page-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="content-page-head">
        <h2>Bordered table</h2>
    </div>
    <hr>
    <div class="content-page-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="content-page-head">
        <h2>Hover rows</h2>
    </div>
    <hr>
    <div class="content-page-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="content-page-head">
        <h2>Contextual classes</h2>
    </div>
    <hr>
    <div class="content-page-body">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Column heading</th>
                    <th>Column heading</th>
                    <th>Column heading</th>
                </tr>
            </thead>
            <tbody>
                <tr class="active">
                    <th scope="row">1</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr class="success">
                    <th scope="row">3</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr class="info">
                    <th scope="row">5</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr class="warning">
                    <th scope="row">7</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr class="danger">
                    <th scope="row">9</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="content-page-head">
        <h2>Basic example</h2>
    </div>
    <hr>
    <div class="btn-toolbar">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group"> <button class="btn btn-default" type="button">1</button> <button class="btn btn-default" type="button">2</button> <button class="btn btn-default" type="button">3</button> <button class="btn btn-default" type="button">4</button> </div>
            <div class="btn-group" role="group" aria-label="Second group"> <button class="btn btn-default" type="button">5</button> <button class="btn btn-default" type="button">6</button> <button class="btn btn-default" type="button">7</button> </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button class="btn btn-default" type="button">8</button> </div>
        </div>
    </div>
    <div class="content-page-head">
        <h2>Navbar toolbar </h2>
    </div>
    <hr>
    <div class="content-page-body">
        <nav class="navbar navbar-toolbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse bs-example-toolbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="">Link</a></li>
                        <li class="dropdown"> <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">Action</a></li>
                                <li><a href="">Another action</a></li>
                                <li><a href="">Something else here</a></li>
                                <li class="divider" role="separator"></li>
                                <li><a href="">Separated link</a></li>
                                <li class="divider" role="separator"></li>
                                <li><a href="">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group"> <input class="form-control" placeholder="Search"> </div> <button class="btn btn-primary" type="submit">Search</button> </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="">Link</a></li>
                        <li class="dropdown"> <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">Action</a></li>
                                <li><a href="">Another action</a></li>
                                <li><a href="">Something else here</a></li>
                                <li class="divider" role="separator"></li>
                                <li><a href="">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="content-page-head">
        <h2>Basic example</h2>
    </div>
    <hr>
    <div class="Pagination">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="active"><a href="">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="content-page-head">
        <h2>Basic example</h2>
    </div>
    <hr>
    <div class="content-page-body">

    </div>
    <div class="content-page-head">
        <h2>Basic example</h2>
    </div>
    <hr>
    <div class="content-page-body">

    </div>
    <div class="content-page-head">
        <h2>Basic example</h2>
    </div>
    <hr>
    <div class="content-page-body">

    </div>
    <hr>
    <div class="content-page-footer pull-center">
        <botton class="btn btn-primary">提交</botton>
        <botton class="btn btn-default">取消</botton>
    </div>
</section>