<div class="section-group" ng-controller="QuickPayCtrl as quickPay">
    <section class="content-view pull-center section-group-firstchild">
        <!--<div class="content-view-head">
            <h2>会员扫描</h2>
        </div>
        <hr>-->
        <div class="content-view-body">
            <form class="form-horizontal" name="quickPayForm">
                <!-- input -->
                <div class="form-group ">
                    <label class="col-sm-3 control-label">会员检索</label>
                    <div class="col-sm-6">
                        <input class="form-control" placeholder="模糊查询：会员姓名、电话号码、卡号" required>
                    </div>
                    <!--<label class="col-sm-3 help-block">*</label>-->

                </div>
                <!-- button -->
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6 ">
                        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> 查询</button>
                        <button type="button" class="btn btn-default"><i class="fa fa-qrcode"></i> 扫码</button>
                        <button type="button" class="btn btn-default"><i class="fa fa-user"></i> 散客</button>
                        <button type="button" class="btn btn-default"><i class="fa fa-refresh"></i> 重置</button>
                    </div>
                </div>
                <!-- input -->
                <div class="form-group marggin-no">
                    <label class="col-sm-3 control-label">会员信息</label>
                    <div class="col-sm-9">
                        <div class="content-view-body form-control-static">
                            <ul class="list-inline marggin-no">
                                <li>姓名<span class="text-info-hightlight">{{memberRegister.currentMember.nam}}</span></li>
                                <li>等级<span class="text-info-hightlight">{{memberRegister.currentMember.level}}</span></li>
                                <li>余额<span class="text-info-hightlight">{{memberRegister.currentMember.balance}}</span></li>
                                <li>积分<span class="text-info-hightlight">{{memberRegister.currentMember.points}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="content-view pull-center">
        <div class="content-view-head">
            <button type="button" class="btn btn-clear pull-right"><i class="fa fa-refresh"></i> 重置消费信息</button>
            <h4>消费信息</h4>
        </div>
        <hr>
        <div class="content-view-body">
            <form class="form-horizontal" name="goodsRegisterForm">
                <!-- 订单号 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">订单号</label>
                    <div class="col-sm-6">
                        <p class="form-control-static">{{quickPay.currentPay.code}}</p>
                    </div>
                </div>
                <!-- 导购员编号 -->
                <!--<div class="form-group">
                    <label class="col-sm-3 control-label">导购员编号</label>
                    <div class="col-sm-6">
                        <input class="form-control" placeholder="" ng-model="goodsRegister.currentGoods.code" required>
                    </div>
                </div>-->
                <!-- 优惠活动 -->
                <!--<div class="form-group">
                    <label class="col-sm-3 control-label">优惠活动</label>
                    <div class=" col-sm-6">
                        <select class="form-control" ng-options="item.id as item.name for item in goodsRegister.classes" ng-model="goodsRegister.currentGoods.class">
                    </select>
                    </div>
                </div>-->
                <!-- 消费金额 -->
                <div class="form-group ">
                    <label class="col-sm-3 control-label">消费金额</label>
                    <div class="col-sm-6">
                        <input class="form-control" placeholder="" ng-model="goodsRegister.currentGoods.code" required>
                    </div>
                    <!--<label class="col-sm-3 help-block">实际消费金额</label>-->
                </div>
                <!-- 折后金额 -->
                <div class="form-group ">
                    <label class="col-sm-3 control-label">折后金额</label>
                    <div class="col-sm-6">
                        <input class="form-control" placeholder="实际结算金额" ng-model="goodsRegister.currentGoods.code" required>
                    </div>
                    <!--<label class="col-sm-3 help-block">折后总金额</label>-->
                </div>
                <!-- 可得积分 -->
                <div class="form-group ">
                    <label class="col-sm-3 control-label">可得积分</label>
                    <div class="col-sm-6">
                        <input class="form-control" placeholder="根据会员等级计算" ng-model="goodsRegister.currentGoods.reward_points" required>
                    </div>
                    <!--<label class="col-sm-3 help-block">按照折后总金额计算</label>-->
                </div>
                <!-- 优惠券号 -->
                <!--<div class="form-group ">
                    <label class="col-sm-3 control-label">优惠券号</label>
                    <div class="col-sm-6">
                        <input class="form-control" placeholder="" ng-model="goodsRegister.currentGoods.reward_points" required>
                    </div>
                    <label class="col-sm-3 text-success form-control-static"><i class="fa fa-check"></i>验证成功</label>
                </div>-->
                <!-- button -->
                <!--<div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6 ">
                        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> 验证</button>
                        <button type="button" class="btn btn-default"><i class="fa fa-refresh"></i> 重置</button>
                    </div>
                </div>-->
                <!-- 备注 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">备注</label>
                    <div class="col-sm-6"><textarea class="form-control" rows="3" ng-model="goodsRegister.currentGoods.remark"></textarea></div>
                </div>
                <!-- button -->
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button type="button" class="btn btn-primary btn-block" ng-disabled="!goodsRegisterForm.$valid" ng-click="goodsRegister.addGoods(goodsRegister.currentGoods)">结算</button>

                    </div>
                </div>
                <!-- File inpu -->
            </form>
        </div>
    </section>
</div>