<div ng-controller="GoodsRegisterCtrl as goodsRegister" class="flexbox">
    <section class="box padding">
        <div class="content-page-head">
            <h4>新增商品</h4>
        </div>
        <hr>
        <div>
            <table class="table table-vertical-middle margin-0-auto">
                <tr>
                    <td>是否可兑换</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="积分兑换" ng-model="goodsRegister.isExchangeable">
                            </span>
                            <input type="number" class="form-control" placeholder="兑换此商品所需积分" ng-model="goodsRegister.currentGoods.exchange_points" ng-disabled="!goodsRegister.isExchangeable">
                        </div>
                    </td>
                    <td>商品编码</td>
                    <td>
                        <input class="form-control" placeholder="" ng-model="goodsRegister.currentGoods.code" required>
                    </td>
                    <td rowspan="5">
                        <img src="app/shared/images/img.png" alt="..." class="img-rounded " width="100%" height="200">
                    </td>
                </tr>
                <tr>
                    <td>商品名称</td>
                    <td>
                        <input class="form-control" placeholder="" ng-model="goodsRegister.currentGoods.name" ng-change="goodsRegister.resolveCapitalChinese(goodsRegister.currentGoods.name)" required>
                    </td>
                    <td>商品简码</td>
                    <td>
                        <input class="form-control" placeholder="" ng-model="goodsRegister.currentGoods.short_name"> </td>
                </tr>
                <tr>
                    <td>商品分类</td>
                    <td>
                        <select class="form-control" ng-options="item.id as item.name for item in goodsRegister.classes" ng-model="goodsRegister.currentGoods.class">

                    </select>
                    </td>

                    <td>商品类型</td>
                    <td>
                        <select class="form-control" ng-options="item.id as item.name for item in goodsRegister.types" ng-model="goodsRegister.currentGoods.type">
                        
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>商品单位</td>
                    <td>
                        <input type="text" ng-model="goodsRegister.currentGoods.unit" placeholder="商品单位" uib-typeahead=" item for item in goodsRegister.units | filter:$viewValue" class="form-control" typeahead-show-hint="true" typeahead-min-length="0" required>

                    </td>
                    <td>奖励积分</td>
                    <td>
                        <input class="form-control" placeholder="" ng-model="goodsRegister.currentGoods.reward_points" required>

                    </td>
                </tr>
                <tr>
                    <td>参考进价</td>
                    <td>
                        <input class="form-control" placeholder="" ng-model="goodsRegister.currentGoods.entry_price" required>
                    </td>
                    <td>建议售价</td>
                    <td>
                        <input class="form-control" placeholder="" ng-model="goodsRegister.currentGoods.sale_price" required> </td>

                </tr>
                <tr ng-show="goodsRegister.isDiscountable">
                    <td>是否可打折</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">
                            <input type="checkbox" aria-label="是否可打折" ng-model="goodsRegister.isDiscountable">
                        </span>
                            <input type="number" class="form-control" aria-label="折扣率" placeholder="折扣率如：0.8,打八折" ng-model="goodsRegister.currentGoods.discount_rate" ng-disabled="!goodsRegister.isDiscountable">
                        </div>
                    </td>
                    <td>
                        最低折扣率
                    </td>
                    <td>
                        <input type="number" class="form-control" aria-label="最低折扣率" placeholder="此商品最低能打几折" ng-model="goodsRegister.currentGoods.lowest_discount_rate">
                    </td>
                    <td></td>

                </tr>
                <tr>
                    <td>
                        备注
                    </td>
                    <td colspan="4">

                        <textarea class="form-control" rows="3" ng-model="memberRegister.currentMember.remark"></textarea>

                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td> <button type="button" class="btn btn-primary " ng-click="memberRegister.addMember(memberRegister.currentMember)" ng-disabled="!memberRegisterForm.$valid">保存</button></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </section>
</div>              </tr>
                </table>
            </form>

        </div>
    </section>
</div>