//basic-color
$brand-primary: #4d90fe;
$brand-success: #35aa47;
$brand-info: #5bc0de;
$brand-warning: #faa937;
$brand-danger: #d84a38;
//gray-color
$black: lighten(#000, 0%); // #000
$gray-darker: lighten(#000, 13.5%); // #222
$gray-dark: lighten(#000, 20%); // #333
$gray: lighten(#000, 33.5%); // #555
$gray-light: lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
$white: lighten(#000, 100%); // #fff
//transparent
$hover-dark:rgba(0, 0, 0, 0.1);
$hover-darker:rgba(0, 0, 0, 0.2);
$hover-darkest:rgba(0, 0, 0, 0.3);
$hover-light:rgba(255, 255, 255, 0.1);
$hover-lighter:rgba(255, 255, 255, 0.2);
$hover-lightest:rgba(255, 255, 255, 0.3);
//theme-color
$primary-color-dark: #04345d;
$primary-color:#0868b9;
$primary-color-light: #83b3dc;
$accent-color: #b43c4d;
$primary-text-color: $white;
$component-bg-color: $white;
$text-color: $gray-darker;
$text-color-light: $gray-light;
$background-color:#f1f1f1;
$border-color:#e2e2e2;
//size
$pix:1.2rem;
$font-size:1.1 * $pix;
$item-width:12.4 * $pix;
$item-height:3 * $pix;
$nav-top-item-height:4 * $pix;
$nav-left-item-height:3 * $pix;

/*padding*/

$padding:0.5 * $pix;
$border-width: 0.1 * $pix;

/*align*/

@mixin Opacity($value) {
    $IEValue: $value*100;
    //  opacity: $value;
    background-color: agba('', $value);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}