@import 'variables.scss';
//frame
body {
    font-size: $font-size;
    #layout {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        #header {
            display: block;
            height: $nav-top-item-height;
            // border-bottom: $border-width solid $border-color;
            z-index: 1001;
            position: fixed;
            _position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            /* height: 35px; */
            /* padding: 7px 0; */
            background: #FFF;
            overflow: visible;
            -webkit-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
            -moz-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
            box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
            background-color: white;
            .navbar-left {
                position: absolute;
                left: 0;
            }
            .navbar-right {
                position: absolute;
                right: 0;
                margin-right: 0;
            }
            .head-logo {
                img {
                    width: $nav-top-item-height;
                    height: $nav-top-item-height;
                }
                i {
                    color: $primary-color;
                    width: $nav-top-item-height;
                    height: $nav-top-item-height;
                    line-height: $nav-top-item-height;
                    text-align: center;
                    font-size: 2.5 * $pix;
                }
            }
            .head-title {
                padding: 0 $padding;
                height: $nav-top-item-height;
                line-height: $nav-top-item-height;
                color: $gray-dark;
            }
            .nav-button {
                padding: 0 $padding;
                min-width: $nav-top-item-height;
                height: $nav-top-item-height;
                color: $text-color-light;
                background-color: rgba(0, 0, 0, 0);
                border: 0;
                i {
                    margin-right: $padding;
                    color: $text-color-light;
                }
                &:hover {
                    color: $primary-color;
                    i {
                        color: $primary-color;
                    }
                }
            }
            .navbar-nav {
                position: absolute;
                width: 100%;
                //hold style in small screen
                margin: 0;
                >ul {
                    //hide ul border 
                    border: 0;
                    >li {
                        padding: 0 (2 * $padding);
                        position: inherit;
                        >a {
                            line-height: $nav-top-item-height - 3 * $border-width;
                            height: $nav-top-item-height - 1 * $border-width;
                            /*height: 100%;*/
                            padding: 0;
                            color: $gray-light;
                            margin-right: 0;
                            border-top-width: 3 * $border-width;
                            border-bottom-width: 3 * $border-width;
                        }
                        &:hover {
                            //hold main nav
                            background-color: rgba($gray-light, .9);
                            .sub-nav {
                                //show sub-nav
                                display: block;
                            }
                            &>a {
                                //hold main nav
                                font-weight: bold;
                                // color: $text-color;
                                color: $primary-text-color;
                            }
                        }
                        &.active> {
                            a,
                            a:focus {
                                color: $text-color;
                                border-bottom-color: $primary-color;
                                background-color: transparent;
                            }
                            a:hover {
                                color: $primary-text-color;
                            }
                        }
                    }
                }
                .sub-nav {
                    z-index: 100;
                    position: absolute;
                    //expand hover area
                    margin-left: -$padding * 5;
                    padding: 0 $padding *3 $padding *6 $padding *3;
                    width: auto;
                    background-color: transparent;
                    // left: 0;
                    display: none;
                    ul {
                        width: auto;
                        background-color: rgba($gray-light, .9);
                        color: $primary-text-color;
                        li {
                            float: none;
                            &.active {
                                a,
                                a:hover,
                                a:focus {
                                    // color: $primary-color;
                                    background-color: rgba($gray, .9);
                                    border-bottom-color: transparent;
                                }
                            }
                            a {
                                padding: $padding * 1.2 $padding *5;
                                // color: $text-color-light;
                                color: $primary-text-color;
                                margin-right: 0;
                                &:hover {
                                    background-color: $hover-darker;
                                    color: $primary-text-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        #main {
            & {
                height: 100%;
                padding-top: $nav-top-item-height;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-flow: row nowrap;
                -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
            }
            #left-menu {
                border-right: $border-width solid $border-color;
                overflow: auto;
                .nav-group-vertical {
                    .nav-pills {
                        li {
                            margin-top: 0;
                            &.active {
                                a,
                                a:hover,
                                a:focus {
                                    color: $primary-text-color;
                                    background-color: $primary-color;
                                }
                            }
                            a {
                                border-radius: 0;
                                padding: 0;
                                color: $gray-light;
                                line-height: $nav-left-item-height;
                                .icon {
                                    i {
                                        width: $nav-top-item-height;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
                .btn-menu-toggle {
                    color: $text-color-light;
                    height: $nav-left-item-height;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    line-height: $nav-left-item-height;
                    text-align: left;
                    text-decoration: none;
                    .icon {
                        i {
                            width: $nav-top-item-height;
                            text-align: center;
                        }
                    }
                    .text {
                        font-weight: 510;
                    }
                    &:hover {
                        /*background-color: $primary-color-light;*/
                        background-color: $hover-dark;
                        color: $text-color-light;
                    }
                }
                &.left-menu-full {
                    max-width: $item-width;
                    min-width: $item-width;
                    .btn-menu-toggle {
                        background-color: $gray-light;
                        color: $primary-text-color;
                    }
                }
                &.left-menu-mini {
                    max-width: $nav-top-item-height;
                    min-width: $nav-top-item-height;
                    .nav-group-vertical {
                        .nav-pills {
                            li {
                                a {
                                    .text {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    .btn-menu-toggle {
                        .text {
                            display: none;
                        }
                    }
                    &:hover {
                        max-width: $item-width;
                        min-width: $item-width;
                        .nav-group-vertical {
                            .nav-pills {
                                li {
                                    a {
                                        .text {
                                            display: inline;
                                        }
                                    }
                                }
                            }
                        }
                        .btn-menu-toggle {
                            .text {
                                display: inline;
                            }
                        }
                    }
                }
            }
            #content {
                background-color: $background-color;
                width: 100%;
                padding: $padding;
                overflow: auto;
                & section {
                    border: $border-width solid $border-color;
                    background-color: $component-bg-color;
                }
                & .section-group {
                    section {
                        margin-top: $padding;
                    }
                    .section-group-firstchild {
                        margin-top: 0;
                    }
                }
            }
        }
        #footer {
            /*display: block;*/
            border-top: $border-width solid $border-color;
            min-height: $item-height;
            display: none;
        }
    }
}

// tools
.primary-color {
    color: $primary-color;
}

.primary-color-in-background {
    background-color: $primary-color;
}

.padding {
    padding: $padding;
}

.padding-lr {
    padding-left: $padding;
    padding-right: $padding;
}

.padding-tb {
    padding-top: $padding;
    padding-bottom: $padding;
}

.padding-no {
    padding: 0 !important;
}

.placeHold {
    background-color: $primary-color-light;
}

.pull-center {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.marggin-no {
    margin-bottom: 0 !important;
}

.col-2 {
    width: 16.66%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33%
}

.col-6 {
    width: 50%
}

.col-8 {
    width: 66.66%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.33%
}

// component
.content-view {
    width: 60%;
    padding: $padding * 2.5;
    /*height: 1000px;*/
}

.content-two-view {
    width: 100%;
    /*height: 1000px;*/
}

.image-group {
    @mixin img-sizing ($sizing) {
        img {
            height: $font-size * $sizing;
            /*padding-bottom: $padding / 2;*/
        }
        .img-add {
            width: $font-size * $sizing;
            height: $font-size * $sizing;
        }
    }
    &.img-xm {
        @include img-sizing(1);
    }
    &.img-sm {
        @include img-sizing(3);
    }
    &.img-nm {
        @include img-sizing(6);
    }
    &.img-lg {
        @include img-sizing(9);
    }
    &.img-xlg {
        @include img-sizing(12);
    }
    &.img-xxlg {
        @include img-sizing(15);
    }
    &.img-xxxlg {
        @include img-sizing(20);
    }
    img {
        padding-right: $padding / 2;
        padding-bottom: $padding / 2;
    }
}

img {
    @mixin img-sizing ($sizing) {
        img {
            height: $font-size * $sizing;
            /*padding-bottom: $padding / 2;*/
        }
        .img-add {
            width: $font-size * $sizing;
            height: $font-size * $sizing;
        }
    }
    &.img-xm {
        @include img-sizing(1);
    }
    &.img-sm {
        @include img-sizing(3);
    }
    &.img-nm {
        @include img-sizing(6);
    }
    &.img-lg {
        @include img-sizing(9);
    }
    &.img-xlg {
        @include img-sizing(12);
    }
    &.img-xxlg {
        @include img-sizing(15);
    }
    &.img-xxxlg {
        @include img-sizing(20);
    }
    &.img-photo {
        height: $font-size * 12;
        width: $font-size * 9;
    }
    float: left;
}

.img-photo-add {
    /*margin-top: - $font-size * 6;*/
    float: left;
    /*margin-left: $padding;*/
    height: $font-size * 12;
    color: $text-color;
    text-align: center;
    button {
        background-color: $background-color;
        width: $font-size * 9;
        padding: 0;
        border: 0;
        i {
            line-height: $font-size * 12;
        }
    }
}

.btn-clear {
    background-color: transparent;
    color: $text-color-light;
    font-weight: 500;
    &:hover {
        background-color: $hover-dark;
    }
}


/*cover*/


/*.container-fluid{
    padding: 0;
}*/