<div ng-controller="MemberListCtrl as vm" class="flexbox">
    <section class="box padding">
        <div class="content-page-head">
            <h4>会员列表</h4>
        </div>
        <hr>

        <div class="">
            <nav class="navbar navbar-toolbar navbar-default">
                <div class="container-fluid padding-0">
                    <div class="collapse navbar-collapse bs-example-toolbar-collapse-1 padding-0">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a ui-sref="app.member_management.register"><i class="fa fa-plus"></i> 添加</a></li>
                            <li><a href="" ng-click="vm.openRemoveModal(vm.list)"><i class="fa fa-minus"></i> 删除</a></li>
                            <li><a href="" ng-click="vm.openEditModal(vm.list)"><i class="fa fa-pencil"></i> 修改</a></li>
                        </ul>
                        <!--<form class="navbar-form navbar-right">
                            <div class="form-group">
                                <input class="form-control" placeholder="Search">
                            </div>
                            <a class="btn" type="submit"><i class="fa fa-search"></i> 搜索</a>
                        </form>-->

                        <ul class="nav navbar-nav navbar-right  padding-0">
                            <li><input type="text" style="height: 100%;background: #f2f2f2;border-width: 0;padding: 9px 15px;line-height: 18px;height: 36px;" placeholder="输入：卡号、姓名或手机"></li>
                            <li><a class="" href=""><i class="fa fa-search"></i> 搜索</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <table class="table  table-hover table-bordered">
                <colgroup>
                    <col width="50">
                    <col width="30">
                </colgroup>
                <thead>
                    <tr>
                        <th>序号</th>
                        <th> <input type="checkbox" class="margin-0" ng-model="vm.current.selectedAll" ng-click="vm.toggleItems(vm.list)"></th>
                        <th>卡号</th>
                        <th>姓名</th>
                        <th>手机</th>
                        <th>余额</th>
                        <th>积分</th>
                        <th>总消费</th>
                        <th>状态</th>
                        <th>生日</th>
                        <th>办卡日期</th>
                        <th>办卡人员</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.list|filter:{name:'!散客'}" ng-click="item.isChecked = !item.isChecked">
                        <th scope="row">{{$index + 1}}</th>
                        <th> <input type="checkbox" class="margin-0" ng-model="item.isChecked" ng-click="item.isChecked = !item.isChecked"></th>
                        <td>{{item.code}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.contact}}</td>
                        <td>{{item.balance}}</td>
                        <td>{{item.points}}</td>
                        <td>{{item.expenditure}}</td>
                        <td>{{item.state | dictionary:'member.states'}}</td>
                        <td>{{item.birthday}}</td>
                        <td>{{item.enroll_date}}</td>
                        <td>{{item.operator}}</td>
                    </tr>
                </tbody>
            </table>
            <div class=" pull-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination" uib-pagination force-ellipses="true" rotate="true" max-size="10" boundary-link-numbers="true" items-per-page="vm.current.pagination.configs.per_page" boundary-links="true" total-items="vm.current.pagination.records" ng-model="vm.current.pagination.configs.page"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="vm.fetchReport(vm.current)"></ul>
                </nav>
            </div>
        </div>


    </section>
</div>